<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
</head>

<body>
    <form method="post" action="/user">
        <textarea name="username" placeholder="Enter user name"></textarea>
        <input type="text" name="email" placeholder="enter your mail">
        <input type="password" name="password" placeholder="Enter password">
        <button>Submit</button>
    </form>
</body>

</html>